APP_RELEASE=not-set
APP_STAND=local
APP_DEBUG=true
APP_HOST=0.0.0.0
APP_PORT=8001
APP_DOMAIN=auth.localhost
APP_SECRET_KEY=super-secret-key
AUTH_BACKEND_URL=http://localhost:8003

# FORMS_PUBLIC_BASE_URL=
FORMS_PUBLIC_LOCAL_URL=http://localhost:8000/form
VERIFICATION_TOKEN_SECRET=verification-token-secret
RESET_PASSWORD_TOKEN_SECRET=reset-password-token-secret


GUNICORN_WORKERS_PER_CORE=1.0
GUNICORN_MAX_WORKERS=4
GUNICORN_LOG_LEVEL=info
GUNICORN_GRACEFUL_TIMEOUT=600
GUNICORN_TIMEOUT=1200
GUNICORN_KEEP_ALIVE=6

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=qliqy-password

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=qliqy_webapi
POSTGRES_USER=postgres
POSTGRES_PASSWORD=qliqy-password

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=qliqy
RABBITMQ_PASSWORD=OolDO7o2fGyj

TRAEFIK_DOMAIN=traefik.localhost
TRAEFIK_BASIC_AUTH=admin:$$apr
TRAEFIK_EMAIL=support@qliqy.io

MAILER_ROUTING_KEY=mailer_requests
