{% extends "base.html" %}

{% block content %}
  <h1>Создать форму</h1>

  <form method="post">
    <label>
      Название:
      <input type="text" name="title" maxlength="128" required value="{{ form.title }}">
    </label>

    <div style="margin-top: 12px;">
      <label>
        Описание:
        <textarea name="description" maxlength="256" rows="4">{{ form.description}}</textarea>
      </label>
    </div>

    <div style="margin-top: 12px;">
      <button type="submit">Создать</button>
    </div>
  </form>
{% endblock %}
